body { 

    font-family: Arial, sans-serif; 

    display: flex; 

    justify-content: center; 

    align-items: center; 

    height: 100vh; 

    margin: 0; 

    background-image: url(./71jiE71+4uL._AC_UF894\,1000_QL80_.jpg);
    background-size: 900px;
    background-color: rgb(39, 20, 20);
    background-repeat: no-repeat;
    

} 

 

.profile-card { 

    background-color: #fff; 

    border-radius: 10px; 

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

    text-align: center; 

    padding: 20px; 

    width: 300px; 

} 

 

.profile-image { 

    border-radius: 50%; 

    width: 100px; 

    height: 100px; 

    object-fit: cover; 

    margin-bottom: 15px; 

} 

 

.profile-name { 

    font-size: 24px; 

    color: #333; 

    margin: 0; 

} 

 

.profile-bio { 

    font-size: 14px; 

    color: #777; 

    margin-top: 10px; 

} 

 